:root{
    --navbar-height: 60px;
    --option-panel-height: 80px;
    --footer-height: 60px;
}
body{
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "navbar"
    "viewer"
    "option"
    "list"
    "footer";
    grid-template-rows: var(--navbar-height)  .8fr var(--option-panel-height) 1fr var(--footer-height);
}
header{
    grid-area: navbar;
    background-color: plum;
    border-bottom: solid 1px black;
}
section#viewer{
    grid-area: viewer;
    position: relative;
    max-width: 100vw;
    background-color: rgb(245, 245, 245);
}
section#viewer .background{
    object-fit: contain;
    height: 30vh;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.2;
}
section#viewer #panel{
    position: relative;
    bottom: 0;
    display:  flex;
    height: 90%;
    margin: auto;
    padding:0 100px ;
    overflow-x:  auto;
    align-items: end;
}
.swiper-slide{
    margin-left: -70px;
}
.swiper-slide .title-size{
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: purple;
    background-color: plum;
    border-radius: 50%;
    box-shadow: 0  0 4px 2px plum;
}
.swiper-slide .title-amount{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1.8em;
    color: white;
}
.swiper-slide img {
    display: block;
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: contain;
}


section#opt-panel{
    grid-area: option;
    display: grid;
    place-content: center;
    background-color: paleturquoise;
}
section#opt-panel form{
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    align-items: center;
}
section#opt-panel input, button, select{
    height: 30px;
    margin-top: 5px;
    border: solid 1px gray;
    border-right: none  ;
    background-color: rgb(213, 255, 255);

    display:  none  ;
}

section#lst-panel{
    grid-area: list;

    overflow: auto;
}

section#lst-panel .item{
    display: grid;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
    grid-template-columns: 3fr repeat(3, minmax(30px, 1fr));
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
    background-color:azure;
}
.item button{
    pointer-events: auto;
    height: fit-content;
    border: unset;
    background-color: unset;
}
.item button .delete-img{  
    display: grid; 
    height: 40px;
    justify-self: end;
    z-index: -1;
}

footer{
    grid-area: footer;
}